<div id="<%= dom_id quiz_submission %>">
  <p>
    <strong>User answers:</strong>
    <%= quiz_submission.user_answers %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= quiz_submission.score %>
  </p>

  <p>
    <strong>User:</strong>
    <%= quiz_submission.user_id %>
  </p>

  <p>
    <strong>Quiz:</strong>
    <%= quiz_submission.quiz_id %>
  </p>

</div>
