<div class=" text-sm">
<%= link_to 'Infos', root_path %> . <%= link_to 'missions', root_path %> . <%= link_to 'Lnclass Valeurs', root_path %> .
<%= link_to "Conditions générales et confidentialité", root_path %>
.

<%= link_to 'Contact', root_path %> . <%= link_to 'Actualité', root_path %> . <%= link_to 'Actualité', root_path %> . <%= link_to 'Actualité', root_path %>

<p class="">Lnclass Technology ©
    <%= Time.now.year %></p>

</div>