<% cache do %>
  <% @feed_courses.each do |feed_course| %>
    <!-- Show Content with Turbo-frame -->
    <%= turbo_frame_tag "#{feed_course.slug}" do %>
      <div class="rounded-md mt-2 bg-white">
        <div class="border-b">
          <!-- course material -->
          <div class="py-1 text-sm text-italic pl-2">
            <%= feed_course.material.title %>
          </div>
          <hr>
          <div class="flex justify-between space-x-3 p-2">
            <div class="flex">
              <div class="avatar">
                <div class="mask mask-squircle w-8 h-8">
                  
                  <%= image_tag(feed_course.team.avatar, alt: "photo de l'auteur") %>
                </div>
              </div>
              <div>
                <div class="font-bold flex">
                  <%= feed_course.team.full_name %>
                  <%= heroicon 'star', options: { class: "pl-6 text-blue-600" } %>
                </div>
                <div class="text-sm opacity-50">
                  Professeur de <%#= feed_course.team.material %>, <%#= feed_course.team.school %>, <%= feed_course.team.city_name %>
                </div>
              </div>
            </div>
            <div class="">
              <%= heroicon 'ellipsis-horizontal' %>
            </div>
          </div>

          <!-- Cached Course content -->

          <% cache do %>
            <!-- Course title -->
            <div class="card-header">
              <h1 class="font-semibold text-md p-2">
                <%= link_to course_path(feed_course), data: { turbo_frame: '_top' }, class: "hover:text-blue-600 hover:underline" do %>
                  <%= feed_course.title %>
                <% end %>
              </h1>
            </div>
            <!-- Embed in turbo_frame -->
            <div data-controller="read-more" data-read-more-more-text-value="voir plus" class="p-2 pb-4">
              <div class="show-content" data-read-more-target="content" class="flex">
                <%= feed_course.content %>
              </div>
              <button data-action="read-more#toggle" class="flex text-blue-500 underline">
                Voir plus <%= heroicon "arrow-long-right", options: { class: "flex" } %>
              </button>
            </div>
          <% end %>
        </div>

        <!-- add course Stats -->
        <div class="flex justify-between text-xs md:text-sm ptl-2 p">
          <div class="flex">
            <p class="ml-4 text-sm"> <%= feed_course.essentials.count %> </p>
          </div>

          <div class="flex text-md mr-10">
            <p class=""> <%#= feed_course.exercices.count %> </p>
          </div>
        </div>

        <hr>
        <!--Course Features -->

        <div class="flex justify-between px-2">
          <!-- Exercise correction Count -->
          <div class="flex py-1 text-sm">
            <%= link_to "", data: { turbo_frame: "essentials" } do %>
              <p class="flex">
                <%= heroicon "book-open" %>
                <span class="mx-2">Essentielles</span>
              </p>
            <% end %>
          </div>

          <!-- Exercise correction Count -->
          <div class="flex ml-2 py-1 text-sm md:text-md">
            <p class="flex"><%= heroicon "document-text" %> <span class="mx-2">Exercices</span></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
