<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class="rounded-md shadow-sm space-y-4">
        <div>
          <%= f.label :full_name, 'Nom complet', class: "sr-only" %>
          <%= f.text_field :full_name, placeholder: "Ex: Koffi kouassi Amina",
          class: " ln-text-field ln-text-field-focus" , autofocus:true %>
        </div>
      
        <div>
          <%= f.label :'N° Matricule', class: "sr-only" %>
          <%= f.text_field :matricule, placeholder: "Ex: 12 134 330p", class: "ln-text-field ln-text-field-focus" %>
        </div>

        <div>
          <%= f.label :"N° Telephone", class: "sr-only" %>
          <%= f.text_field :contact, placeholder: "Ex: 0544320020", class: "ln-text-field ln-text-field-focus" %>
        </div>

        <div>
          <%= f.label :"Nom de votre Ville", class: "sr-only" %>
          <%= f.text_field :city_name, placeholder: "Ex: Yamoussoukro", class: "ln-text-field ln-text-field-focus" %>
        </div>

      
        <div>
          <%= f.label :email, class: "sr-only" %>
          <%= f.email_field :email,  autocomplete: "email", placeholder: "Adresse e-mail", class: "ln-text-field ln-text-field-focus" %>
        </div>

        <div data-controller="password-visibility" class='' >
          <div class="relative rounded-md shadow-sm">
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Mot de passe", 
            class: "ln-text-field ln-text-field-focus", 'data-password-visibility-target':"input" %>
              <button data-action="password-visibility#toggle" type="button" class="ln-field-eye-icon">
                <!-- Heroicon name: outline/eye -->
                <svg data-password-visibility-target="icon" xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor" >
                  <path stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
                
                <!-- Heroicon name: outline/eye-off -->
                <svg data-password-visibility-target="icon"
                    xmlns="http://www.w3.org/2000/svg" class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" >
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                </svg>
              </button>
          </div>
        </div>
        <!-- ... -->
        <div data-controller="password-visibility" class='' >
          <div class="relative rounded-md shadow-sm">
            <%= f.password_field :password_confirmation, autocomplete: "current-password", placeholder: "Confirmer le mot de passe", 
            class: "ln-text-field ln-text-field-focus", 'data-password-visibility-target':"input" %>
              <button data-action="password-visibility#toggle" type="button" class="ln-field-eye-icon">
                <!-- Heroicon name: outline/eye -->
                <svg data-password-visibility-target="icon" xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor" >
                  <path stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
                
                <!-- Heroicon name: outline/eye-off -->
                <svg data-password-visibility-target="icon"
                    xmlns="http://www.w3.org/2000/svg" class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" >
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                </svg>
              </button>
          </div>
        </div>

        <div class="flex py-2">
          <%= f.check_box :remember_me, checked:true, class: "h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" %>
          <%= f.label :remember_me, "Se souvenir de moi", class: "ml-2 block text-sm text-gray-900" %>
        </div>

        <div class="flex items-center justify-between">
          <%= f.submit "Créer votre compte", class: "ln-sign" %>
        </div>
      </div>
    <% end %>